* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e7e7e7;
    padding-top: 100px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

header {
    display: grid;
    align-items: center;
    margin: 1%;
    justify-content: center;
}

header h1 {
    width: 100%;
    font-size: 40px;
    font-weight: bold;
}


form {
    display: grid;
    width: 100%;
    justify-content: center;

}

form input {
    font-size: 24px;
    background-color: white;
    border: none;
    border-bottom: 2px solid black;
    padding: 1%;
    margin: 1%;
    align-items: center;
    text-align: center;

}

form button {
    background-color: #009432;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 1%;
}